
<div class="card my w-75">
    <div class="card-body">
        <h4 class="card-title"><strong> Tell us what you think</strong> </h4>
        <p class="card-text">Please take a moment to let us know what you think about the redesigned display of information on this page. Thanks!</p>
        <hr style="width:80%;"/>
        <a href="#" class="btn btn-primary center-block">Provide feedback</a>

    </div>
</div>


