
<!-- Modal -->
<div class="modal fade" id="transferModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"><b>Transfer </b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form action="SendTransfer" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Amount">Amount</label>
                            <input type="text" class="form-control" name="Amount" id="Amount" placeholder="Amount">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="Token">Participant token</label>
                            <input type="text" style="width:100vh;" class="form-control" name="Token" id="Token" placeholder="Token">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Send funds to friend 👯‍♂️👯‍♀️</button>
                        </div>
                    </div>
                </form>
            </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
    </div>

